.txtFont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputDsgn{
    outline: none;
    border: none;
    background-color: rgb(224, 167, 193);
    border-radius: 5px;
    height: 30px;
    transition: all linear 0.25s;
    color: brown;
    font-size: 20px;
    place
}

.inputDsgn:focus{
    background-color: rgb(202, 82, 138);
}

.centered{
    margin: 2.5% 0% 2.5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inserted{
    margin: 1% 0% 1% 0%;
    width: 35%;
    border-radius: 5px;
    background-color: rgb(202, 82, 138);
    text-align: center;
}

.nmDsgn{
    width: 50%;
    margin: 1% 25% 1% 25%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border-radius: 5px;
}

.halfed{
    width: 45%;
    font-weight: bolder;
}

body{
    background-color: rgb(28, 53, 90);
    
}

h3{
    color: rgb(189, 82, 132) ;
}

h2{
    color: rgb(189, 82, 132) ;
    font-size: 40px;
}

::placeholder{
    color: black;
}

